*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

body
{
  background: #111;
  min-height: 200vh;
	padding-bottom: 10000%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="36" height="72" viewBox="0 0 36 72"%3E%3Cg fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding-left: 6px;
  padding-right: 40px;
  background: #171212;
  transition: all 300ms ease-in-out;
  z-index: 9999;
}

.btn.btn-primary {
  display: flex;
}


.pseudo-bft-btn .btn {
  position: relative;
  overflow: hidden;
  width: 17rem;
  height: 51px;
  font-family: FuturaPTBold,sans-serif;
  justify-content: center;
  border: none;
  padding: 5px 12px;
}
header .logo_navbar
{
  position: relative;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 2em;
  text-transform: capitalize;
  letter-spacing: 2px;
  transition: 0.6s;
  z-index: 100000;


}


.btn {
  height: 45px;
  box-sizing: border-box;
  font-style: normal;
  background: transparent;
  font-family: FuturaPT,sans-serif;
  cursor: pointer;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;

  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  cursor: default;
}


/* .btn-primary {
  -webkit-animation: f 53s linear infinite;
  animation: f 53s linear infinite;
  background: linear-gradient(121.19deg,rgba(133,239,49,0) 25.73%,hsla(0,0%,100%,.3) 45.27%,rgba(133,239,49,0) 62.27%),#ff8d1a;
} */

.btn-primary {
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    121.19deg,
    #ff8d1a,
    #ff8d1a,
    #ff8d1a,
    #ff8d1a
  );
}

.btn-primary::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
  transform: rotate(0deg) translateX(-150%);
  animation: shine 2.5s infinite;
}

@keyframes shine {
  0% {
    transform: rotate(0deg) translateX(-150%);
  }
  100% {
    transform: rotate(0deg) translateX(150%);
  }
}

header book{
  background-color: rgb(18, 36, 51);
}


header ul 
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li
{
  position: relative;
  list-style: none;

}

header ul li a
{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  transition: 0.6s;
  font-weight: 800px;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* .banner
{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(background.jpg);
  background-size: cover;
} */


.our-courses {
  background-image: url('images/section.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  height: 550px;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}

* {
  letter-spacing: .0125rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-weight: 400;
  outline: none;
}

section {
  display: block;
}

